<!DOCTYPE html>
<html>
  <head>
    <title>Home | ReadOne</title>
  </head>
  <body>
    <h1>Help: ReadOne</h1>
    <p>
    	<img src="http://media.giphy.com/media/ncs7l6H5Bp996/giphy.gif" style="max-width:100%;height:auto;">
    </p>
    <p>
    	This will eventually be an actual help page, if we need one.
    </p>
  </body>
</html>