<% provide(:title, "Home") %>
<% if logged_in? %>
	<h3>Home: ReadOne</h3>
	<p>
		You've found the ReadOne Home page!
	</p>
	<p>
		Sometime soon, this page will show you an article.
	</p>
	<p>
		
	</p>
	<% else %>
    <h3><%= link_to "Click here", login_path %> to log in.</h3>
  <% end %>
