<!DOCTYPE html>
<html>
  <head>
    <title>Home | ReadOne</title>
  </head>
  <body>
    <h1>Home: ReadOne</h1>
    <p>
      You've found the ReadOne Home page!
    </p>
    <p>
    	Sometime soon, this should show your feeds.
    </p>
  </body>
</html>